<p id="notice"><%= notice %></p>

<br>
<br>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">A R T I S T S</div>
      <table class="table">
        <thead>
          <tr>
            <th>N A M E</th>
            <th>B I O</th>
            <th>G E N R E</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td><%= artist.name %></td>
              <td><%= artist.bio %></td>
              <td><%= artist.genre.name %></td>
              <td><%= link_to 'Show', artist %></td>
              <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
              <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Artist', new_artist_path %>

<%= will_paginate @artists, renderer:BootstrapPagination::Rails %>



<br>
<br>
<br>
<br>
<br>
<div id="wrapper">
        <ul id="gallery">
            <li>
              <a href="http://localhost:3000/artists">
                <p>A R T I S T S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/albums">
                <p>A L B U M S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/songs">
                <p>S O N G S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/genres">
                <p>G E N R E S</p>
              </a>
            </li>
        </ul>
  </div>
